@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Monoid, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #F8F9FA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Monoid;
    src: url('./assets/fonts/Monoid/MonoidNerdFont-Regular.ttf');
}

h1, h2, p {
    color: #212529;
}

h1 {
    font-size: 2rem;
}