@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Geist, Monoid, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #f8f9fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: Monoid;
  src: url("./assets/fonts/Monoid/MonoidNerdFont-Regular.ttf");
}

/* italic version */
@font-face {
  font-family: Monoid;
  src: url("./assets/fonts/Monoid/MonoidNerdFont-Italic.ttf");
  font-style: italic;
}

@font-face {
    font-family: Geist;
    src: url('./assets/fonts/Geist/Geist.ttf');
    font-style: Black;
    font-weight: 1000;
}

@font-face {
    font-family: Geist;
    src: url('./assets/fonts/Geist/Geist.ttf');
    font-style: Light;
    font-weight: 500;
}

h1,
h2,
p {
  color: #212529;
}

h1 {
  font-size: 2rem;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.navbar {
  background-color: #f8f9fa;
  animation: slideIn 0.5s;
}

.logo {
  transform: scale(1);
  transition: transform 0.1s;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.1s;
}

.slideout {
  animation: slideOut 0.5s;
}

/* Rotating circle animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-circle {
  animation: rotate 10s linear infinite;
}

/* Slide in from left */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 1s ease-out;
}

/* Slide in from right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInRight 1s ease-out;
}

@keyframes drawCircle {
  from {
    stroke-dashoffset: 100%;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.draw-and-rotate {
  animation: drawCircle 2s ease-in-out forwards,
    rotateCircle 10s linear infinite;
}

.cover.top {
  background: linear-gradient(to bottom, #f8f9fa 70%, transparent);
}

.cover.bottom {
  background: linear-gradient(to top, #f8f9fa 70%, transparent);
}

.card {
  /* border: 2px solid #212529; */
}

.half-border {
  border-right: 2px solid #212529;
}

.navbar-button:hover {
  cursor: pointer;
}
